body {
    margin: 0px;
}

.tela-adm {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("..//assets/bgLogin.svg");
    background-size: cover;
    background-position: 16vw;
   
    
 
       
}



.sideBar {
    width: 16vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D5047;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    font-size: 1vw;
}

.sideBar #exitButton {
    padding: 0.8vh;
    border: 0;
    border-radius: 3px;
    width: 4.5vw;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    cursor: pointer;
    align-items: center;
}

.sideBar .headDiv {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}

.sideBar .naviDiv {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}
.sideBar .exitDiv {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideBar .naviLine {
    height: 0.11vh;
    width: 12vw;
    background-color: #f5f5f557;
}

.sideBar .naviButton {
    padding: 2.5vh;
    border: 0;
    width: 16vw;
    font-size: 0.85vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    background-color: #1D5047;
    cursor: pointer;
    align-items: center;
}

.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
    
   
  

}
.material-icons.MuiIcon-root{


}

.MuiIconButton-label {

     display: none;
}

.span.MuiIconButton-label {
    width: 200%;
    display: none;

}

body.deleteTooltip{


}









.tela-adm .sideBar {
    position: relative;
    width: 16vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D5047;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    font-size: 1vw;
    z-index: 2;

}

.tela-adm .sideBar #exitButton {
    padding: 0.8vh;
    border: 0;
    border-radius: 3px;
    width: 4.5vw;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    cursor: pointer;
    align-items: center;
    position: relative!important;
}

.tela-adm .sideBar .headDiv {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    position: relative!important;
}

.tela-adm .sideBar .naviDiv {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}

.tela-adm .sideBar .naviDiv ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tela-adm .sideBar .naviDiv ul li {
    position: relative;
}

.tela-adm .sideBar .naviDiv ul li ul {
    position: absolute;
    left: 16vw;
    top: 0;
    display: none;
}

.tela-adm .sideBar .naviDiv ul li:hover ul {
    display: block;
}

.tela-adm .sideBar .exitDiv {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela-adm .sideBar .naviLine {
    height: 0.11vh;
    width: 12vw;
    background-color: #9e9e9e;
}

.tela-adm .sideBar .naviButton {
    padding: 2.5vh;
    border: 0;
    width: 16vw;
    font-size: 0.85vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    background-color: #1D5047;
    cursor: pointer;
    align-items: center;
}

.tela-adm .sideBar .dropDown:hover .naviButton {
    background-color: rgb(36, 102, 90);
}

.tela-adm .sideBar .naviButton:hover {
    background-color: rgb(36, 102, 90);
}

.tela-adm .sideBar .naviButtonCascade {
    padding: 2.5vh;
    border: 0;
    width: 12vw;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #ececec;
    cursor: pointer;
    align-items: center;
}

.tela-adm .sideBar .naviButtonCascade:hover {
    background-color: #cccccc;
}
